* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* ====== Common ======= */

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 12px 10px;
    background: var(--bgc-btn, #171100);
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

/* ====== Fixed header ======= */

.fixed-header {
    background: #fffcf4;
    padding-top: 24px;
    position: sticky;
    top: -24px;
    z-index: 1;
}

.fixed-header .navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.fixed-header .navbar ul {
    display: flex;
    margin-left: 491px;
    margin-right: 49px;
}

.fixed-header ul a {
    padding: 10px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #171100;
}

.fixed-header ul a:hover {
    text-decoration: underline;
}

.fixed-header .btn-link {
    min-width: 144px;
}

/* ====== Hero ======= */

.hero {
    display: flex;
    background: orange;
}

.hero .hero-wrap {
    display: flex;
    align-items: center;
    height: calc(100vh - 98px);
    position: relative;
}

.hero .img-block,
.hero .info {
    width: 50%;
}

.hero .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .card-courses {
    position: absolute;
    left: 300px;
    bottom: calc(((100vh - 98px) - 685px) / 2 + 48px);
    width: 270px;
    background: #ffffff;
    border-radius: 12px;
}

.hero .card-courses .body {
    padding: 24px;
}

.hero .course-block {
    display: flex;
    align-items: center;
}

.hero .course-block + .course-block {
    margin-top: 14px;
}

.hero .course-block .icon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.hero .course-block span {
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero .course-block strong {
    display: block;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
