* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    --btn-color1: #171100;
    --btn-color2: #ffb900;
}

/* ====== Common ======= */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ====== Header ======= */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a:after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
    /* margin-left: 49px; */
}

.header .action {
    margin-left: 49px;
}

/* ====== Hero ======= */

.hero {
    padding-top: 56px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ====== Courses ======= */

.courses {
    margin-top: 200px;
}

.courses .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .intro .sub-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--btn-color1);
}

.courses .intro .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.courses .more a + a {
    margin-left: 18px;
}

/* Course List */

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-list .course-item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.course-list .image {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .body {
    padding: 16px 22px 22px;
}

.course-item .course-name a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--btn-color1);
}

.course-item .course-desc {
    --line-clamp: 3;
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .buy {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--btn-color1);
}

.course-item .book-btn {
    background: var(--btn-color2);
}

/* ====== Feedback ======= */

.feedback {
    margin-top: 200px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-wrap {
    display: flex;
    justify-content: space-between;
}

.feedback-wrap .customer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback-wrap .customer-info .photo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.feedback-wrap .customer-info .name {
    margin-top: 18px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-wrap .customer-info .job {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-wrap .customer-info .tab {
    margin-top: 28px;
}

/* Feedback content */

.feedback-content {
    position: relative;
}

.feedback-content img {
    position: absolute;
    left: -30px;
}

.feedback-content .quote {
    margin-top: 28px;
    width: 740px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ====== Call to action ======= */

.cta {
    margin-top: 200px;
}

.cta .row-top {
    display: flex;
}

.cta .img-block {
    width: 49%;
    display: flex;
    gap: 30px;
    position: relative;
}

.cta .img-block img:first-child {
    margin-top: 33px;
}

.cta .img-block img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
}

.cta .outcome {
    padding: 58px 0 0 130px;
}

.cta .outcome .sub-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--btn-color1);
}

.cta .outcome .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta-btn {
    margin-top: 32px;
    min-width: 137px;
    padding: 12px 12px;
    background: var(--btn-color2);
}

/* Call to buy */

.cta .row-bottom {
    margin-top: 200px;
}

.cta .call-wrap {
    display: flex;
    justify-content: space-between;
}

.cta .call-content {
    margin-top: 71px;
    width: 570px;
}

.call-content .sub-title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--btn-color1);
}

.call-content .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.call-wrap .image {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* ====== Blog ======= */

.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-info {
    text-align: center;
}

.blog-info .sub-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog-info .desc {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

/* Blog list */

.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog-item {
    flex: 1;
    background: #ffffff;
    border-radius: 16px;
}

.blog-item .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item .body {
    padding: 20px 20px 28px;
}

.blog-item .date {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-item .separate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-item .body h3 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--btn-color1);
}

.blog-item .body .btn {
    margin-top: 12px;
}

.blog-item:first-child .btn {
    background: var(--btn-color2);
}

.blog .main-content .icon {
    margin-top: 38px;
}

/* ====== Footer ======= */

.footer {
    padding: 96px 0 28px;
    background: #2e2100;
}

.footer .row-top {
    display: flex;
    gap: 130px;
}

.footer .column:first-child {
    margin-right: 15px;
}

.footer .column:first-child .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .social-link {
    margin-top: 18px;
    display: flex;
}

.footer .social-link a + a {
    margin-left: 18px;
}

.footer .social-link .icon:hover {
    opacity: 0.6;
}

/* Column */

.footer .row-top h3 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .row-top .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .column ul {
    margin-top: 28px;
}

.footer .column ul li + li {
    margin-top: 12px;
}

.footer ul a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
    white-space: nowrap;
}

.footer .column:last-child a {
    display: inline-block;
    width: 231px;
    white-space: normal;
}

.footer .column:last-child b {
    font-weight: 600;
    color: #ffffff;
}

/* Separate */

.footer .separate {
    margin-top: 38px;
    width: 1170px;
    height: 1px;
    background: #59554b;
}

/* Copyright */

.copyright {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
